@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Todo list</h2>
        <input type="text" /> <button type="button" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Agregar
        </button>
        <ul>
            <li>
                Sample pages using ASP.NET Core MVC <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Eliminar
                </button>
            </li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
</div>
